
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="~/Content/menu.css" rel="stylesheet" />

    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="margin: 0; padding: 0;">


    <header class="navbar">
        <div class="header-logo">Juegos Tripp</div>
        <nav class="nav-links">
            <a href="@Url.Action("Index", "Home")">Inicio</a>
            <a href="@Url.Action("Juegos", "Home")">Juegos</a>
            <a href="@Url.Action("Empleo", "Home")">Empleo</a>
            <a href="@Url.Action("About", "Home")">Acerca de</a>
            <a href="@Url.Action("Contact", "Home")">Contacto</a>
            <a href="@Url.Action("InicioSesion", "Home")">
                <img src="~/Content/imagenes/flecha1.png" alt="Iniciar sesión" />
                Iniciar sesión
            </a>
        </nav>
    </header>








    <main>
        @RenderBody()
    </main>
    @Html.Partial("Piepagina")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
