<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <!-- Google Fonts: Jost -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Estilos personalizados -->
    <link href="~/Contenido/encabezado.css" rel="stylesheet" />

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @RenderSection("styles", required: false)
    @Styles.Render("~/encabezado/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="navbar">

        <div class="header-logo titulo">GeniosyFiguras</div>
        <nav class="nav-links">
            <a href="@Url.Action("Index", "Principal")">Inicio</a>
            <a href="@Url.Action("Juegos", "Principal")">Juegos</a>
            <a href="@Url.Action("Empleo", "Principal")">Empleo</a>
            <a href="@Url.Action("About", "Principal")">Acerca de</a>
            <a href="@Url.Action("Contact", "Principal")">Contacto</a>

            @{
                var nombreCompleto = Session["NombreCompleto"] as string;
            }

            @if (!string.IsNullOrEmpty(nombreCompleto))
            {
                <span>@nombreCompleto</span>
                <a href="@Url.Action("CerrarSesion", "Principal")">Cerrar sesión</a>
            }
            else
            {
                <a href="@Url.Action("InicioSesion", "Principal")">
                    <img src="~/Contenido/imagenes/flecha1.png" alt="Iniciar sesión" />
                    Iniciar sesión
                </a>
            }
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    @Html.Partial("~/Views/Compartido/Piepagina.cshtml")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>








